<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>My profile</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/home">Survey Logo</a>


        </div>
      </div>
    

      <div class="sidebar">
      <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/newsurvey"><i class="fa fa-fw fa-wrench"></i> New Survey</a>
      <a href="/response"><i class="fa fa-fw fa-user"></i> Responses</a>
      <a href="/profile"><i class="fa fa-fw fa-envelope"></i>Profile</a>
      <a href="/auth/logout"><i class="fa fa-fw fa-envelope"></i> Logout</a>
    </div>

    <div class="container-fluid">
      <h2>Profile</h2>
      <img src="/images/profilee.png" alt="img">
      <h3>Name: <input type="text">{{user.NAME}}</h3>
      <h3>Email: <input type="text">{{user.EMAIL}} </h3>
    </div>

    
    


         
    </body>
</html>