<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <body>
        <div class="topnav">
            <a class="active" href="#">Survey Logo</a>
    
    
            </div>
          </div>
        
    
        <div class="sidebar">
          <a href="/user"><i class="fa fa-fw fa-home"></i> Home</a>
          <a href="/userprofile"><i class="fa fa-fw fa-envelope"></i> Profile</a>
          <a href="/auth/logout"><i class="fa fa-fw fa-envelope"></i> Logout</a>
        </div>
    


        <div class="content">
          <div class="topnav">
            <a class= href="#home">Published Surveys</a>
            
          </div>
          <!-- Table -->
          <table>
            <thead>
              <tr>
                <th>Survey_Name</th>
                <th>Survey_Creator</th>
                <th>Date of creation</th>
                <th>Active_Status</th>
                <th>Survey_Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Web Development</td>
                <td>Vivek</td>
                <td>17/04/2002</td>
                <td>Active</td>
                <td><button>Take survey</button></td>
              </tr>
              
            </tbody>
          </table>
        </div>
    
</body>
</html>